<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/javascripts/RequestManager.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <%- include('sections/header', { title: 'User List' }) %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>password</th>
          <th>Email</th>
          <th>Type</th>
          <th>Department</th>
          <th>Cars</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.password %></td>
          <td><%= user.email %></td>
          <td><%= user.type.title %></td>
          <td><%= user.department.name %></td>
          <td><%= user.car.name %></td>
          <td>
            <a href="/users/register/<%= user.id %>">Edit</a>
            <button
              onclick="RequestManager.deleteRequest('/users', '<%= user.id %>' )"
            >
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <hr />
    <a href="/users/register">Додати користувача</a>
  </body>
</html>
